/*-----------*/
@media(min-width:1200px)
{
	.title
	{
		font-size: 28px;
	}
	.boton
	{
		font-size: 25px;
	}
	.banner
	{
		height: 70vh;
	}
	
	/*------------------------------------menu*/
	#logo-dsk
	{
		display: block;
		height: 40px;
		top: 5px;
		position: relative;
		float: left;
	}
	.logo
	{
		display: none;
	}
	.icon-menu
	{
		display: none;
	}
	.container
	{
		max-width: 1500px;
	}
	#menu
	{
		height: auto;
		width: auto;
		background-color: transparent;
		position: relative;
		float: right;
		top: 0px;
		right: 0;
		z-index: 800;
	}
	#menu ul
	{
		display: flex;
		position: relative;
		flex-wrap: wrap;
	}
	.menu-item a
	{
		padding: 15 20;
	}
	.menu-item a:hover
	{
		color: red;
		background-color: white;
	}
	/*----------------------------------servicios */
	#cds-container
	{
		max-width: 1500px;
		padding: 0 0 20 0;
	}
	#servicios
	{
		padding: 40 0;
	}
	#servicios .title
	{
		margin-bottom: 50px;
	}
	
	/*-----------------------------------Galeria ^^*/
	#galeria .title
	{
		margin: 50;
	}
	#galeria .boton
	{
		margin: 60;
	}
	
	.gal-itm
	{
		width: 25%;
		height: 300px;
		max-width: 500px;
	}
	.galeria-cnt
	{
		max-width: 1500px;
		position: relative;
		left: 0;
		right: 0;
		margin: auto;
	}
	
	/*-----------------------------------Precios*/
	
	.precio-cnt
	{
		max-width: 1500px;
	}
	#precios .title
	{
		margin: 50px 0 25px;
	}
	
	/*------------------------------------Contacto*/
	
	.formu-cont
	{
		max-width: 1500px;
	}
	#contacto .title
	{
		margin: 50 0;
	}
	.dir-cont
	{
		display: none;
	}
	.content
	{
		width: 95%;
		max-width: 1500px;
		left: 0;
		right: 0;
		margin: auto;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 80;
	}
	.tlf
	{
		position: relative;
		width: 50%;
		position: relative;
		overflow: hidden;
	}
	#phone
	{
		position: relative;
		width: 40%;
	}
	.cont-txt
	{
		position: relative;
		width: 50%;
		height: 600px;
		text-align: left;
		font-size: 27px;
		display: block;
	}
	.posi
	{
		width: 80%;
		position: relative;
		left: 0;
		right: 0;
		margin: auto;
		top: 50%;
		transform: translateY(-35%);
	}
	.cont-txt .separador
	{
		height: 6px;
		margin: 40 0;
		width: 100%;
	}
	.cont-txt h2
	{
		color: #161616;
	}
	.cont-txt span
	{
		font-family: raleway;
		font-size: 30px;
		color: #161616;
		font-weight: 600;
		display: block;
		padding: 20 0;
	}
	.cont-txt span:hover
	{
		color: rgba(255,0,20,1);
		cursor: pointer;
	}
	/*-------------------------------ubicacion*/
	
	.dir
	{
		font-size: 25px;
		padding: 50px 0;
	}
	.horario
	{
		font-size: 25px;
		padding: 50 0;
	}
}